[submodule "raw/przybadz-plomieniu"]
	path = raw/przybadz-plomieniu
	url = https://github.com/magnificat/przybadz-plomieniu
	branch = master

[submodule "raw/cala-ziemio-wolaj"]
	path = raw/cala-ziemio-wolaj
	url = https://github.com/magnificat/cala-ziemio-wolaj
	branch = master

[submodule "raw/zwyciezca-smierci"]
	path = raw/zwyciezca-smierci
	url = https://github.com/magnificat/zwyciezca-smierci
	branch = master

[submodule "raw/hosanna"]
	path = raw/hosanna
	url = https://github.com/magnificat/hosanna
	branch = master
