[submodule "raw/do-ducha"]
	path = raw/do-ducha
	url = git@github.com:magnificat/do-ducha
	branch = master

[submodule "raw/uwielbieniowe"]
	path = raw/uwielbieniowe
	url = git@github.com:magnificat/uwielbieniowe
	branch = master

[submodule "raw/wielkanocne"]
	path = raw/wielkanocne
	url = git@github.com:magnificat/wielkanocne
	branch = master

[submodule "raw/kanony"]
	path = raw/kanony
	url = git@github.com:magnificat/kanony
	branch = master
