html {
  font-size: 18px;
}

pre {
  font-family: "luxi mono", monospace;
  white-space: pre-wrap;
}

body {
  padding: 8vh 5vw;
  margin: 0;
}


@media print {
  html {
    font-size: 15pt;
  }

  body {
    padding: 0;
  }

  @page {
    margin: 2cm;
    margin-left: 4cm;
  }
}
