html {
  font-size: 16pt;
}

pre {
  font-family: "luxi mono", monospace;
}

body {
  margin: 4em;
}


@media print {
  body {
    margin: 0
  }

  @page {
    margin: 2cm;
    margin-left: 3cm;
  }
}
