html {
  font-size: 18px;
}

pre {
  font-family: "luxi mono", monospace;
  white-space: pre-wrap;
}

body {
  padding: 8vh 5vw;
  margin: 0;
}


@media print {
  html {
    font-size: 10.5pt;
  }

  body {
    padding: 0;
  }

  @page {
    margin: 1.5cm;
    margin-left: 3cm;
  }
}
